extends layouts/layout.jade

block con
    link(rel='stylesheet', href='build/css/highUtil.min.css')
    .loading
    #map
    .overlapSlider
         #sliderVis
    script(src='build/js/highUtil.min.js')  
//    script(src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js")
//    script(src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js")
