extends layouts/layout.jade

block con
    link(rel='stylesheet', href='build/css/login.min.css')
    .container
      .main
        h2 Javascript Login Form Validation
        hr
        form#form_id(method='post', name='myform')
          label User Name :
          br
          input#username(type='text', name='username')
          br
          label Password :
          br
          input#password(type='password', name='password')
          br
          input#submit(type='button', value='Login')
    script(src='build/js/login.min.js')  
